<!--
&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #8BC34A;">
        <a class="navbar-brand" href="#">ShareTree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            &lt;!&ndash;<ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="tree" (click)="tryItNow()">Try it Now!</a>
                </li>
            </ul>&ndash;&gt;
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="tree" (click)="tryItNow()">Try it Now!</a>
                </li>
            </ul>
        </div>

    </nav>
    &lt;!&ndash;<div class="container">&ndash;&gt;

    &lt;!&ndash;<h1>{{ title }}</h1>&ndash;&gt;
    <router-outlet></router-outlet>
</div>
-->

<router-outlet></router-outlet>
