<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fullwidth">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8BC34A;">
        <a class="navbar-brand" href="#">ShareTree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="nav-tab-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="nav-tab-link" routerLink="/about">About</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="chat">Chat</a>
                </li>-->
                <!--<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Try it Now!</button>
                <li class="nav-item">
                    <a class="nav-link" href="/connections">Connections</a>
                </li>-->
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" routerLink="/tree" (click)="tryItNow()">Try it Now!</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
